

{% block title %}Formularz kontaktowy{% endblock %}

{% block main %}
    <div>
        {{ form_start(our_form) }}
        {{ form_widget(our_form) }}
        {{ form_end(our_form) }}
    </div>

{% endblock %}
